aiohttp==3.6.2
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
conda==4.6.14
cryptography==2.6.1
cycler==0.10.0
Flask==1.1.1
future==0.18.2
idna==2.8
imageio==2.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
multidict==4.7.4
numpy==1.17.0
pandas==0.25.3
Pillow==6.1.0
pycosat==0.6.3
pycparser==2.19
pyee==7.0.1
pyglet==1.4.8
pyOpenSSL==19.0.0
pyparsing==2.4.5
PySocks==1.6.8
python-dateutil==2.8.1
pytz==2019.3
requests==2.21.0
ruamel-yaml==0.15.46
schedule==0.6.0
six==1.12.0
slackclient==2.5.0
slackeventsapi==2.1.0
urllib3==1.24.1
Werkzeug==1.0.0
yarl==1.4.2
